<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">

    <a href="/" id="top">
          <img src="//static1.squarespace.com/static/565e69cfe4b0a6f556ae42bb/t/566508f9e4b0fe72366bb133/1507047551843/?format=1500w" alt="Wiser Systems">
    </a>

    <a type="button" class="btn btn-lg btn-default" href="https://www.wisersystems.com"><span class="glyphicon glyphicon-flash"></span> Getting Started with Wiser Systems</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/amberraza/heroku-nodejs-test/tree/version-0"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    To deploy your own copy, and learn the fundamentals this platform, head over to the <a href="https://www.wisersystems.com/productsbuy/" class="alert-link">Products</a>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> How this sample app works</h3>
      <ul>
        <li>Description line 1 </li>
        <li>Description line 2 </li>
        <li>Description line 3 </li>
        <li>Description line 4 </li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Next Steps</h3>
      <ul>
        <li>Design review </li>
        <li>Interaction between the backend servers and front end</li>
        <li>Data format available from backend which is to be displayed to the user</li>
        <li>Types of interactions by the end user(The use cases) </li>
        <li>Different modules that we could integrate as per my understanding:</li>

        <ul>
          <li><code>Authentication</code></li>
          <li><code>Configuring the antennas</code></li>
          <li><code>Configuring the other devices</code></li>
          <li><code>Calliberating</code></li>
        </ul>
      </ul>
      <h3><span class="glyphicon glyphicon-link"></span> Helpful Links</h3>
      <ul>
        <li><a href="https://www.wisersystems.com/technology/">Solutions</a></li>
        <li><a href="https://www.wisersystems.com/developers/">Developers</a></li>
        <li><a href="https://www.wisersystems.com/productsbuy/">Products</a></li>
      </ul>
    </div>
  </div> <!-- row -->

</div>


</body>
</html>
